name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
  
    - name: Install hadolint
      run: |
        wget -O /usr/local/bin/hadolint https://github.com/hadolint/hadolint/releases/latest/download/hadolint-Linux-x86_64
        chmod +x /usr/local/bin/hadolint

    - name: Run Dockerfile lint
      run: hadolint Dockerfile

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - name: Install Python linter (ruff)
      run: pip install ruff

    - name: Run Python lint
      run: ruff check

  #Run Unit test with coverage if there is any
  #Pass to SonarQube
  
    - name: Install Gitleaks v8.29.0
      run: |
        curl -sSL -o gitleaks_8.29.0_linux_x64.tar.gz https://github.com/gitleaks/gitleaks/releases/download/v8.29.0/gitleaks_8.29.0_linux_x64.tar.gz
        tar -zxvf gitleaks_8.29.0_linux_x64.tar.gz
        chmod +x gitleaks
        sudo mv gitleaks /usr/local/bin/gitleaks
        gitleaks version
   
    - name: Run Gitleaks scan
      run: gitleaks detect --source=. --exit-code=1
      
    - name: Docker Build 
      run: |  
        IMAGE_TAG=app:$(date +%s)
        docker build . --file Dockerfile --tag $IMAGE_TAG
        echo "IMAGE_TAG=$IMAGE_TAG" >> $GITHUB_ENV
        
    - name: Trivy vulnerability scan
      uses: aquasecurity/trivy-action@master
      with:
        image-ref: ${{ env.IMAGE_TAG }}
        format: 'table'  # Better for console view
        output: 'trivy-results.txt'
        exit-code: 0
        
    - name: Generate Trivy HTML report
      run: |
        trivy image --format template --template "@contrib/html.tpl" -o trivy-report.html ${{ env.IMAGE_TAG }}
        
    - name: Run container smoke test
      run: |
        # Run container in detached mode
        CONTAINER_ID=$(docker run -d -p 5000:5000 ${{ env.IMAGE_TAG }})

        # Wait a few seconds for it to start
        sleep 30
    
        # Check container is running
        docker ps --filter "id=$CONTAINER_ID"
        CONTAINER_STATUS=$(docker inspect $CONTAINER_ID --format='{{.State.Health.Status}}')
        if [ "$CONTAINER_STATUS" != "healthy" ]; then
          exit 1
        fi
        echo "Container is up and running"
        #Another Check 
        curl -f http://localhost:5000/health

        
    #Run OWASP for DAST testing  
    - name: OWASP ZAP scan
      uses: zaproxy/action-baseline@v0.9.0
      with:
        target: 'http://localhost:5000'
        cmd_options: '-m 2 -I -a -s' 
    
    #Upload to artifact    
    - name: Upload security reports
      uses: actions/upload-artifact@v4
      with:
        name: security-scan-results
        path: |
          trivy-results.txt
          trivy-report.html
          report_json.json
          report_md.md
          report_html.html
          
    - name: Cleanup container
      if: always()
      run: |
        if [ -n "$CONTAINER_ID" ]; then
          docker stop $CONTAINER_ID || true
          docker rm $CONTAINER_ID || true
          echo "Container cleaned up"
        else
          echo "No container to clean up"
        fi
