name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
  
    - name: Install hadolint
      run: |
        wget -O /usr/local/bin/hadolint https://github.com/hadolint/hadolint/releases/latest/download/hadolint-Linux-x86_64
        chmod +x /usr/local/bin/hadolint

    - name: Run Dockerfile lint
      run: hadolint Dockerfile

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - name: Install Python linter (ruff)
      run: pip install ruff

    - name: Run Python lint
      run: ruff check

  #Run Unit test with coverage if there is any
  #Pass to SonarQube
  
    - name: Install gitleaks
      run: |
        curl -sSL https://github.com/gitleaks/gitleaks/releases/latest/download/gitleaks-linux-amd64.tar.gz | tar -xz
        sudo mv gitleaks /usr/local/bin/

    - name: Run gitleaks scan
      run: gitleaks detect --source=. --exit-code=1
      
    - name: Docker Build 
      run: docker build . --file Dockerfile --tag app:$(date +%s)

    #Can start the app and run OWASP for DAST testing   
